<aside class="sidebar">
    <nav class="nav flex-column">
        <a href="#" class="nav-link">
            <i class="fas fa-users"></i>
            <span>Assigned to me</span>
        </a>
        <a href="javascript:void(0);" class="nav-link" id="show-completed">
            <i class="fas fa-check"></i>
            <span>Compeletd</span>
        </a>
        <a href="javascript:void(0);" class="nav-link active" id="show-tasks">
            <i class="fas fa-list"></i>
            <span>Tasks</span>
        </a>
    </nav>
</aside>